body {
    background-color: gray;
}

.header {
    text-align: center;
    background: #003333;
    color: white;
    padding: 5px;
}

.citySearch {
    position: relative;
    padding-left: 15px;
    padding-bottom: 30px;
}
input, label {
    display: block;
}

label {
    font-weight: bold;
}

.submitBtn {
    background-color: cyan;
}